
.filter {
    background-color: $color-grey-light-3-obscure;
    border-bottom: solid 1px $color-grey-light-4;
    height: 10%;
    padding: 1rem;

    @include respond(tab-land) {
        height: 6rem;
    }

    
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
    @media only screen and (max-width: 31.25em) {
        height: 11rem;
        flex-wrap: wrap;
        justify-content: center;
        align-content:  space-around;
    }

    &__group {
        margin-right: 2rem;
    }

    @media only screen and (max-width: 31.25em) {
        &__group:first-child {
           order: 5;
        }
    }

    .btn {
        padding: 0.4rem 1.2rem;
    }
}

.filter-form {
    margin-left: 5rem;

    @include respond(phone) {
        margin-left: 0rem;
    }

    @media only screen and (max-width: 31.25em) {
        flex: 0 0 100%;
        margin-right: 0;
    }

    &__input {
        color: $color-grey-dark-1;
        border: none;
        border-radius: 3px;
        font-family: inherit;
        font-size: 1.6rem;
        padding: 0.8rem 1rem;

        @media only screen and (max-width: 31.25em) {
            width: 100%;
        }

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-3;
        }
    }
}

.list {
    background-color: darken($color-grey-light-3, 2%);
    height: 90%;
    overflow-y: scroll;

    @include scrollbar;
}

.no-articles {
    background-color: $color-white;
    padding: 1.2rem 0 1.2rem 1.2rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.server-error {
    color: $color-white;
    background-color: rgba($color-red, 0.8);
    padding: 2.5rem 0 2.5rem 1.2rem;
    font-size: 1.8rem;
    font-weight: 600;
}
