
.filter {
    background-color: $color-grey-light-3-obscure;
    border-bottom: solid 1px $color-grey-light-4;
    height: 10%;
    padding: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    &__group {
        margin-right: 2rem;
    }

    .btn {
        padding: 0.4rem 1.2rem;
    }
}

.filter-form {
    margin-left: 5rem;

    &__input {
        color: $color-grey-dark-1;
        border: none;
        border-radius: 3px;
        font-family: inherit;
        font-size: 1.6rem;
        padding: 0.8rem 1rem;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-3;
        }
    }
}

.list {
    background-color: darken($color-grey-light-3, 2%);
    height: 90%;
    overflow-y: scroll;

    @include scrollbar;
}
