.btn {
    border:none;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 600;
    padding: .8rem 2.8rem;
    outline: none;
    transition: all .3s;

    &:hover{
        transform: translateY(-3px);
    }

    &:active {
        outline: none;
        transform: scale(0.95) translateY(0);
    }
}

.btn--green {
    background-color: $color-primary;
    border: solid 2px $color-primary;
    color: $color-white;
    transition: all .3s;

    &:hover {
        background-color: $color-primary-dark-1;
        border: solid 2px $color-primary-dark-1;
    }

    &:disabled {
        background-color: $color-grey-dark-3;
        border: solid 2px $color-grey-dark-3; 
        transform: translateY(0);
    }

    &:focus{
        background-color: $color-primary-dark-1;
        border: solid 2px $color-primary-dark-1; 
    }
}

.btn--white {
    background-color: $color-grey-light-1;
    border: solid 2px $color-primary;
    color: $color-primary;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }

    &:disabled {
        color: $color-white;
        background-color: $color-grey-dark-3;
        border: solid 2px $color-grey-dark-3; 
        transform: translateY(0)
    }

    &:focus {
        background-color: $color-primary;
        color: $color-white;  
    }
}

.btn-like {
    background: none;
    border:none;
    outline: none;
    transition: all .3s ease;

    &:hover {
        transform: translateY(-2px) scale(1.1);
    }

    &:active {
        transform: translateY(0) scale(1);
    }

    &:disabled {
        cursor: default;
        transform: translateY(0) scale(1);
    }

    &:focus {
        background-color: $color-grey-light-3;
    }
    
}