.header {
    background-color: #fff;
    border-bottom: solid 1px $color-grey-light-4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; //<-- this two are set here in order because header is on top of the container and so tow top corners of container did not seem to be rounder when border radius is set on container 
}

.header__title {
    text-decoration: none;
    margin-left: 6rem;

    h1 {
        text-decoration: underline $color-red;
        font-size: 3rem;
        margin: 0;
        
         display: inline-block;
        background-image: linear-gradient(to right, $color-primary-dark-1, $color-primary-light);
        -webkit-background-clip: text;
        color: transparent;
    }
}

.header__exclamation {
    color: $color-red;
}