.scroll-active {
    overflow-y: scroll;

    @include scrollbar;
}
.article-view {
    background-color: $color-white;
    border-radius: 3px;
    margin: 1rem 2rem;
    
    &__top {
        margin: 0 2rem;
        padding-top: 0.8rem;
        word-break: break-all;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond (phone) {
            flex-direction: column;
            align-items: flex-start;
        }

        h2:after {
            display: block;
            height: 1.5px;
            background-color: $color-grey-dark-3;
            content: "";
            width: 130%;
            margin: 0 auto;
            margin-top: 3px;

            @include respond(phone) {
                margin-bottom: 1rem;
                width: 100%;
            }
        }

        p {
            color: $color-grey-dark-2;
        }
    }

    &__text {
        margin: 1rem 2rem 1.5rem 2rem;
    }

    &__under-text {
        margin: 0rem 2rem 0 2rem;
        padding-bottom: 1.5rem;
        border-bottom: solid 1.5px $color-grey-dark-3;


        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__edit {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
            padding: .4rem 1.2rem;
            font-weight: 400;
            margin-right: 5rem;

            // 500px
            @media only screen and (max-width: 31.25em) {
                margin-right: 2rem;
            }

            // 350 px
            @media only screen and (max-width: 21.875em) {
                margin-right: 0.5rem;
                padding: .2rem 0.6rem;
                font-size: 1.4rem;
            }
        }

        p {
            color: $color-grey-dark-2;
        }
    }

    &__comment {
        margin: 2rem 2rem 0rem 2rem;
        padding-bottom: 1.5rem; 
    }
}

.rating-like{
    font-size: 2.5rem;

    display: flex;
    align-items: center;

    @media only screen and (max-width: 21.875em) {
        font-size: 2rem;
    }
}

.icon {
    font-size: 2.8rem;
    margin-bottom: -0.4rem;

    @media only screen and (max-width: 21.875em) {
        font-size: 2.4rem;
    }

}

.icon--loggedin {
    color: $color-red;
}

.icon--loggedout {
    color: $color-grey-dark-3;
}

.comment-form {
    display: flex;
    align-items: center;

    textarea {
        border-radius: 3px;
        height: 8rem;
        margin-right: 3rem;
        padding: 1rem;
        resize: none;
        width: 80%;

        &:focus {
            outline-color: $color-grey-dark-2; 
        }
    }

    .btn {
        padding: .4rem 1.2rem;

        // 350 px
        @media only screen and (max-width: 21.875em) {
            padding: .2rem 0.6rem;
        }

        &:disabled {
            cursor: default;
        }
    }

}