* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: orangered; // <-- this is just for testing !!
}

body {
  color: $color-grey-dark-1;
  background-image: linear-gradient(to right bottom, 
                  $color-primary-light,
                  $color-primary-dark-1,
                  #3c7701,
                  $color-primary-dark-2
                  );
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 400;
  font-family: 'Open Sans',Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
