* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(tab-land) { //width < 1200 ?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }
  
  @include respond(tab-port) {// width < 900?
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) { //width < 900 ?  // <-- this guy here ca n be both on top and also at the bottom because it min-width medai query nad not max-width as the others
    font-size: 75%; // 1rem = 12 , 12/16 = 75%
  }
}

body {
  color: $color-grey-dark-1;
  background-image: linear-gradient(to right bottom, 
                  $color-primary-light,
                  $color-primary-dark-1,
                  #3c7701,
                  $color-primary-dark-2
                  );
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 400;
  font-family: 'Open Sans',Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
